* {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  background-color: #CCCCCC;
  background: url('bg.png') repeat;
  color: #444444;
  font-family: "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma,sans-serif;
}

h1 {
  text-align: center;
  font-family: 'Quicksand', "Trebuchet MS","Lucida Grande","Lucida Sans Unicode","Lucida Sans",Tahoma, sans-serif;
  font-size: 300%;
}

#container {
  margin: 5em auto 0 auto;
}

#tablet {
  display: block;
  position: relative;
  background-color: #FAFAFA;
  margin: 20px auto;
  width: 300px;
  height: 450px;
  overflow: auto;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  border-radius: 10px;
  -webkit-box-shadow: 2px 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 2px 1px 5px 0 rgba(0,0,0,0.1);
}

.action {
  display: block;
  width: 100%;
  height: 95px;
  position: absolute;
  bottom: 0px;
  padding: 20px;
}
#add {
  display: block;
  margin:  auto;
  width: 50;
  height: 50px;
  background-color: #4dd0e1;
  color: #FFFFFF;
  font-size: 250%;
  border: 0;
  -webkit-border-radius: 50px;
  -moz-border-radius: 50px;
  border-radius: 50px;
  -webkit-box-shadow: 2px 1px 5px 0 rgba(0,0,0,0.1);
  box-shadow: 2px 1px 5px 0 rgba(0,0,0,0.1);
}

#add:hover {
  background-color: #4dd0e1;
  cursor: pointer;
  -webkit-box-shadow: 2px 1px 6px 1px rgba(0,0,0,0.2);
  box-shadow: 2px 1px 6px 1px rgba(0,0,0,0.2);
}

button#add span {
  display: inline-block;
  margin-top: -5px;
}

#list {
  height: 360px;
  width: 100%;
  margin: 0;
  overflow: auto;
  padding: 0px;
  list-style-type: none;
}

#list li {
  border-bottom: 1px dashed #CCCCCC;
}
#list li:hover {
  background-color: #EAEAEA;
  cursor: pointer;
}

#list .check {
  display: inline-block;
  width: 15%;
  padding: 15px;
  vertical-align: top;
}
#list .txt {
  border-right: 1px dashed #CCCCCC;
  display: inline-block;
  width: 70%;
  padding: .8em;
  overflow-wrap: break-word;
}
#list .rem {
  display: inline-block;
  width: 15%;
  padding: 15px;
  vertical-align: top;
}

#list input.check {
  display: inline-block;
  width: 25px;
  height: 15px;
}

#list input.editor {
  font-family: inherit;
  font-size: inherit;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  line-height: 1.42857143;
  color: #555;
  background-color: rgba(255,255,255,0.0);
  border: none;
}

.title-editor { display:none; }
#list li      .editor { display: none; }
#list li.edit .editor { display: block; }
#list li.edit .txt span    { display: none; }
#list li.checked { color: #CCCCCC; }